/* 	LocalBranding CSS (Contao)/
	Author: (c) LocalBranding 2021
	Theme: theme_lb_be_de 
	lb_be_default.css - the 1. lb-css-file of the lb_be_theme
	Version: 2021-01-02	
*/

/* ------------------------------ ///// FONT-FACE start ///// ------------------------------ */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/lato-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/Lato/lato-v16-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/lato-v16-latin-700.woff2') format('woff2'),
    url('../fonts/Lato/lato-v16-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono/fira-mono-v8-latin-regular.woff2') format('woff2'),
    url('../fonts/FiraMono/fira-mono-v8-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono/fira-mono-v8-latin-700.woff2') format('woff2'),
    url('../fonts/FiraMono/fira-mono-v8-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* ------------------------------ ///// FONT-FACE end ///// ------------------------------ */

:root{
    /* ///// Core Colors ///// */
    /* Brand Colors / Primary Colors */
    --cc-brandcolor1: #ee7100; 
    --cc-brandcolor2: #2f2f2f; 
    
    /* Greytones */
	--cc-transparent:transparent;    
    --cc-black: #2f2f2f;
    --cc-darkgrey: #635d5d;    
    --cc-midgrey: #c2c2c2;
    --cc-lightgrey: #f2f2f2;
    --cc-white: #ffffff;
    
    /* UI Colors */
    --cc-info: #107bd8;
    --cc-success: #10d874;
    --cc-warning: #eec603;  
    --cc-error: #d8105b;
    --cc-signal: #b232aa;
    --cc-inactive: #c2c2c2;
    --cc-bodybackground: #ffffff;    

    /* Secondary Colors */
    --cc-orange: #ee7100;
    --cc-blue: #107bd8;
    --cc-green: #10d874;
    --cc-yellow: #eec603;
    --cc-cyan: #47befb;
    --cc-magenta: #d8105b;
    --cc-purple: #b232aa;
    
	/* Product Colors lb.de */
	--cc-brandLead: #d1bb7f;
	--cc-brandSignal: #ef357c;
	--cc-domain: #165791;
	--cc-email: #107bd8;
	--cc-website: #eec602;
	--cc-lws: #10D875;
	--cc-webshop: #ca3730;
	--cc-secDataProt: #00aa01;
	--cc-emm: #b14ec2;
	--cc-some: #38b99b;
	--cc-sea:#f05f70;
	--cc-seo:#10d1d8;
	--cc-analytics:#a58902;
	--cc-pAd:#a0e439;
	--cc-pFlyer: #5721b7;
	--cc-pMailing: #119dd8;
	--cc-pStationary:#905101;
	--cc-lwsp:#ed706a;
	--cc-voucher:#74dd21;
	
	/* Transparancies */
    --cc-brandcolor1-80: rgba(238,113,0,0.8);
    --cc-black-80: rgba(33,31,31,0.8);
} 
