/* ///// Icons for backend ///// */
#tl_navigation .tl_level_1_group .group-lb_branding {
    background: url(../icons/lb-branding.svg) 3px 2px no-repeat;
    background-size: 16px;
}
#tl_navigation .tl_level_1_group .group-calendar_booking {
    background: url(../icons/location.svg) left center no-repeat;
    background-size: 16px;
}	
#tl_navigation .tl_level_1_group .group-lb_calculation {
    background: url(../icons/calculation.svg) left center no-repeat;
    background-size: 16px;	
}

/* ///// Font-styles ///// */
.widget h3 label {
	font-size: 1rem;
}
a:hover, a:active {
	color: var(--cc-brandcolor1);
}

/* ///// Sets LB Colors for BACKGROUND in select list ///// */

/* LB Brand Colors / Primary Colors Background */
option[value=bg-lb-brandcolor1] {
    background-color:var(--cc-brandcolor1);
}
option[value=bg-lb-brandcolor2] {
    background-color:var(--cc-brandcolor2);
}

/* LB Greytones Background */
option[value=bg-lb-black] {
    background-color:var(--cc-black);
}
option[value=bg-lb-darkgrey] {
    background-color:var(--cc-darkgrey);
}
option[value=bg-lb-midgrey] {
    background-color:var(--cc-midgrey);
}
option[value=bg-lb-lightgrey] {
    background-color:var(--cc-lightgrey);
}
option[value=bg-lb-white] {
    background-color:var(--cc-white);
}

/* LB Secondary Colors Background */
option[value=bg-lb-orange] {
    background-color:var(--cc-orange);
}
option[value=bg-lb-blue] {
    background-color:var(--cc-blue);
}
option[value=bg-lb-green] {
    background-color:var(--cc-green);
}
option[value=bg-lb-yellow] {
    background-color:var(--cc-yellow);
}
option[value=bg-lb-cyan] {
    background-color:var(--cc-cyan);
}
option[value=bg-lb-magenta] {
    background-color:var(--cc-magenta);
}
option[value=bg-lb-purple] {
    background-color:var(--cc-purple);
}

/* LB Product Colors lb.de Background */
option[value=bg-lb-brandLead] {
    background-color:var(--cc-brandLead);
}
option[value=bg-lb-brandSignal] {
    background-color:var(--cc-brandSignal);
}
option[value=bg-lb-domain] {
    background-color:var(--cc-domain);
}
option[value=bg-lb-email] {
    background-color:var(--cc-email);
}
option[value=bg-lb-website] {
    background-color:var(--cc-website);
}
option[value=bg-lb-lws] {
    background-color:var(--cc-lws);
}
option[value=bg-lb-webshop] {
    background-color:var(--cc-webshop);
}
option[value=bg-lb-secDataProt] {
    background-color:var(--cc-secDataProt);
}
option[value=bg-lb-emm] {
    background-color:var(--cc-emm);
}
option[value=bg-lb-some] {
    background-color:var(--cc-some);
}
option[value=bg-lb-sea] {
    background-color:var(--cc-sea);
}
option[value=bg-lb-seo] {
    background-color:var(--cc-seo);
}
option[value=bg-lb-analytics] {
    background-color:var(--cc-analytics);
}
option[value=bg-lb-pAd] {
    background-color:var(--cc-pAd);
}
option[value=bg-lb-pFlyer] {
    background-color:var(--cc-pFlyer);
}
option[value=bg-lb-pMailing] {
    background-color:var(--cc-pMailing);
}
option[value=bg-lb-pStationary] {
    background-color:var(--cc-pStationary);
}
option[value=bg-lb-lwsp] {
    background-color:var(--cc-lwsp);
}
option[value=bg-lb-voucher] {
    background-color:var(--cc-voucher);
}

/* ///// Sets LB Colors for TEXT in select list ///// */
option[value=text-lb-brandcolor1] {
	color: var(--cc-brandcolor1);
}
option[value=text-lb-brandcolor2] {
	color: var(--cc-brandcolor2);
}
option[value=text-lb-black] {
	color: var(--cc-black);
}
option[value=text-lb-darkgrey] {
	color: var(--cc-darkgrey);
}
option[value=text-lb-midgrey] {
	color: var(--cc-midgrey);
}
option[value=text-lb-lightgrey] {
	color: var(--cc-lightgrey);
}
option[value=text-lb-white] {
	color: var(--cc-white);
}
option[value=text-lb-orange] {
	color: var(--cc-orange);
}
option[value=text-lb-blue] {
	color: var(--cc-blue);
}
option[value=text-lb-green] {
	color: var(--cc-green);
}
option[value=text-lb-yellow] {
	color: var(--cc-yellow);
}
option[value=text-lb-cyan] {
	color: var(--cc-cyan);
}
option[value=text-lb-magenta] {
	color: var(--cc-magenta);
}
option[value=text-lb-purple] {
	color: var(--cc-purple);
}

/* ///// Sets LB Colors for TEXT HOVER in select list ///// */
option[value=hover-lb-brandcolor1] {
	color: var(--cc-brandcolor1);
}
option[value=hover-lb-brandcolor2] {
	color: var(--cc-brandcolor2);
}
option[value=hover-lb-black] {
	color: var(--cc-black);
}
option[value=hover-lb-darkgrey] {
	color: var(--cc-darkgrey);
}
option[value=hover-lb-midgrey] {
	color: var(--cc-midgrey);
}
option[value=hover-lb-lightgrey] {
	color: var(--cc-lightgrey);
}
option[value=hover-lb-white] {
	color: var(--cc-white);
}

/* ///// Sets LB Colors for Buttons in select list ///// */
option[value=button1] {
	background-color: var(--cc-brandcolor1);
}
option[value=button2] {
	color: var(--cc-brandcolor1);
	border: solid 1px var(--cc-brandcolor1);
}
option[value=button3] {
	color: var(--cc-white);
	border: solid 1px var(--cc-white);
	background-color: var(--cc-midgrey);
}
option[value=button4] {
	background-color: var(--cc-black);
	color: var(--cc-white);
}
/* Secondary Button colors */
option[value=button-blue] {
	background-color: var(--cc-blue);
}
option[value=button-Green] {
	background-color: var(--cc-green);
}
option[value=button-yellow] {
	background-color: var(--cc-yellow);
}
option[value=button-cyan] {
	background-color: var(--cc-cyan);
}
option[value=button-magenta] {
	background-color: var(--cc-magenta);
}
option[value=button-purple] {
	background-color: var(--cc-purple);
}
/* Product Button colors */
option[value=button-brandLead] {
	background-color: var(--cc-brandLead);
}
option[value=button-brandSignal] {
	background-color: var(--cc-brandSignal);
}
option[value=button-domain] {
	background-color: var(--cc-domain);
}
option[value=button-email] {
	background-color: var(--cc-email);
}
option[value=button-website] {
	background-color: var(--cc-website);
}
option[value=button-lws] {
	background-color: var(--cc-lws);
}
option[value=button-webshop] {
	background-color: var(--cc-webshop);
}
option[value=button-secDataProt] {
	background-color: var(--cc-secDataProt);
}
option[value=button-emm] {
	background-color: var(--cc-emm);
}
option[value=button-some] {
	background-color: var(--cc-some);
}
option[value=button-sea] {
	background-color: var(--cc-sea);
}
option[value=button-seo] {
	background-color: var(--cc-seo);
}
option[value=button-analytics] {
	background-color: var(--cc-analytics);
}
option[value=button-pAd] {
	background-color: var(--cc-pAd);
}
option[value=button-pFlyer] {
	background-color: var(--cc-pFlyer);
}
option[value=button-pMailing] {
	background-color: var(--cc-pMailing);
}
option[value=button-pStationary] {
	background-color: var(--cc-pStationary);
}
option[value=button-lwsp] {
	background-color: var(--cc-lwsp);
}
option[value=button-voucher] {
	background-color: var(--cc-voucher);
}

/* basics body, container etc.*/
body {
	background: #000 radial-gradient(var(--cc-darkgrey),var(--cc-black));
	color: var(--cc-black);
}
#header .inner {
	background: var(--cc-brandcolor1);
}
/*    spätere Bearbeitung !!!
#header {
	min-height: 60px;
}
#header .inner {
	background: var(--cc-white);
	height: 60px;
}
#header .inner h1 {
	display:none;
}
#header .inner .lb-logo {
	height: 60px;
	width: 225px;
	background-color: var(--cc-white);
	background-image: url('files/theme_lb_de/img/logo/Logo.svg');
	background-repeat: no-repeat; 
	position: absolute;
}
@media only screen and (max-width: 970px) {
	#container {
		padding-top:60px;
	}
}
*/
#container #left {
	background: var(--cc-black);
}
#container #left .version, #container #left .version a {
	background: var(--cc-black);
	color: var(--cc-lightgrey);
} 
#container #left #tl_navigation .tl_level_2 li {
    border-left: 4px solid var(--cc-black);
}
#container #left #tl_navigation .tl_level_2 li.active {
    background: var(--cc-black);
    border-left-color: var(--cc-brandcolor1);
}
#container #left #tl_navigation .tl_level_2 a {
    color: var(--cc-lightgrey);
}
#main .content {
	margin:0;
	padding:20px;
}
#main .content fieldset {
	border-bottom: solid 1px var(--cc-midgrey);
}
#main .content fieldset .rsce_list_inner fieldset {
	border-bottom: 0;
}

/* ///// Formates LB subheadingss in select lists ///// */
option[value=sh-01], option[value=sh-02], option[value=sh-03], option[value=sh-04], option[value=sh-05], 
option[value=sh-06], option[value=sh-07], option[value=sh-08], option[value=sh-09], option[value=sh-10]  {
	color: var(--cc-brandcolor1);
	font-weight: 700;
	font-style: italic;
}
option[value=sh-00] {
	font-weight: 700;
	font-style: italic;
}

/* Backend, avoids overlay class long over class w50 */  
.long {
	float:left;
}
.tl_textarea {
	min-height: 5rem;		
}
.tl_version_panel {
	background: transparent;
}
/* group headlines inside lists / fieldsets */
.rsce_list_item .rsce_list_item_title {
	padding: 20px 15px;
	background-color: var(--cc-darkgrey);
	color:var(--cc-white);
	font-size: 18px;
}
fieldset.tl_box legend {
	padding-bottom:12px;	
}
.rsce_list_item .rsce_list_toolbar {
    margin-top: 11px!important;
    margin-right: 10px!important;
    padding: 8px;
    background-color: var(--cc-white);
}
.rsce_list_inner .rsce_list_toolbar  {
	background: transparent;    
}
/* Second level list */
.rsce_list_inner .rsce_list_inner .rsce_list_item {
	padding-bottom: 30px;
	background-color: transparent;
	border: none;
	width: 96%;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item h2.rsce_list_item_title  {
	background-color: var(--cc-lightgrey);
	color: var(--cc-black);
	height: 20px;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .rsce_list_toolbar {
	top:4px;
	background-color:transparent;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box {
	border: 0;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box .w50.widget {
	min-height: 60px;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box .w50.widget h3 {
	padding-top: 4px;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item:last-child {
}
.tl_tbox, .tl_box { /* nach oben ???? zeile 335*/
    padding: 0;
    border: none;
    padding-bottom: 20px;
   /*  border-bottom: solid 1px var(--cc-midgrey); */
}
.tl_submit_container {
	background: var(--cc-white);
	padding-top:20px;
	border-top: solid 1px var(--cc-midgrey);
}
button#save.tl_submit {
	margin-right: 20px;
}
button#save.tl_submit, button#saveNclose.tl_submit {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	text-align: center;	
	min-width: 160px;
	padding: 0 10px 4px;
	transition: all 0.2s cubic-bezier(.72,.28,.33,.93);
	border-radius: 2px;
	text-overflow: ellipsis;
	background-color: var(--cc-brandcolor1);
	color: var(--cc-white);
	border: solid 2px var(--cc-brandcolor1);
}
button#saveNclose.tl_submit {
	border-radius: 2px 0 0 2px;
	border-right: 0;
}
button#sbtog {
	height: 40px;
	line-height:33px;
	border: solid 2px var(--cc-brandcolor1);
	border-left: 0;
}
/* SPECIAL RULES FOR RSCEs */
/* Width of Logo Image for // rsce_lb_nav_header_config.php */
#pal_rsce_legend #sort_rsce_field_image li {
	text-align:left;	
}
#pal_rsce_legend #sort_rsce_field_imageLogo img.gimage {
	width:24rem;
	margin-bottom: 0.4rem;
	text-align:left;
}





